{% extends 'index.html' %}
{% load serialize %}
{% load serialize_chart %}

{% block css %}
    <link href="/static/css/commons.css" rel="stylesheet">
{% endblock %}

{% block page-header %}
    <h1 class="page-header"><i class="st-cube"></i> 图表</h1>
{% endblock %}

{% block page-path %}
    <li><a href="{% url 'index' %}">仪表盘</a></li>
    <span>-></span>
    <li><a href="{% url 'chart' %}">图表</a></li>
{% endblock %}

{% block page-content %}
    <div class="panel-default">
        <!--Panel heading-->
        <div class="panel-heading">
            <div class="panel-control">
                <h3 class="panel-title">图表</h3>
                <div class="panel-control pull-right" style="margin-top: 5px;">
                    <a href="{% url 'add_chart' %}" class="btn btn-primary">
                        <i class="ec-star"></i>
                        创建图表
                    </a>
                </div>
            </div>
        </div>
        <!--Default panel contents-->
        <div class="panel-body">
            <!--Table-->
            <table class="table">
                <thead>
                <tr>
                    <th>
                        <label class="checkbox">
                            <input type="checkbox">
                        </label>
                    </th>
                    <th>名称</th>
                    <th>图表类型</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for chart_obj in chart_obj_list %}
                    <tr>
                        <td>
                            <label class="checkbox">
                                <input type="checkbox" name="chart" value="{{ chart_obj.id }}">
                            </label>
                        </td>
                        <td>{{ chart_obj.name }}</td>
                        <td>{% display_chart_type chart_obj chart_obj.chart_type %}</td>
                        <td>{% serialize_url "chart" chart_obj %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="action_buttons" style="margin-top: 10px;">
                            <span id="selected_count" style="font-weight: bold">
                                <span>0</span> 选择
                            </span>
        <button id="delete_chart" class="btn btn-danger">
            <i class="ec-star"></i>
            删除
        </button>
    </div>

    <div>
        <div class="right">
            <ul class="pagination pagination-sm no-margin">
                {{ page_str }}
            </ul>
        </div>
    </div>

    <!--模态-->
    <div id="project-del-div" class="bootbox modal fade bootbox-confirm in" tabindex="-1" role="dialog"
         aria-hidden="false"
         style="display: none; padding-right: 17px;">
        <div class="modal-backdrop fade in" style="height: 100%; z-index:10"></div>
        <div class="modal-dialog" style="margin-top: 200px; z-index: 20">
            <div class="modal-content">
                <div class="modal-body">
                    <button id="close-modal-div" type="button" class="bootbox-close-button close" data-dismiss="modal"
                            aria-hidden="true"
                            style="margin-top: -10px;">×
                    </button>
                    <div class="bootbox-body">确定删除?</div>
                </div>
                <div class="modal-footer">
                    <button id="cancel-del" data-bb-handler="cancel" type="button" class="btn btn-default">取消</button>
                    <button id="confirm-del" data-bb-handler="confirm" type="button" class="btn btn-danger">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!--警告-->
    <div id="project-del-fall" class="alert alert-danger fade in" style="display: none; position: fixed; top:50px;right:0;left:800px">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>删除失败!</strong>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/chart.js"></script>
{% endblock %}