{% extends 'base.html' %}

{% block css %}

{% endblock %}

{% block body %}
    <!-- Start #header -->
    <div id="header">
        <div class="container-fluid">
            <div class="navbar">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <i class="im-eye text-logo-element animated bounceIn"></i><span
                            class="text-logo">监控</span><span class="text-slogan">系统</span>
                    </a>
                </div>
                <nav class="top-nav" role="navigation">
                    <ul class="nav navbar-nav pull-left">
                        <li id="toggle-sidebar-li">
                            <a href="#" id="toggle-sidebar"><i class="en-arrow-left2"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="full-screen"><i class="fa-fullscreen"></i></a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown">
                                <img class="user-avatar" src="/static/plugin/assets/img/avatars/53.jpg"
                                     alt="SuggeElson">{{ request.user.name }}</a>
                            <ul class="dropdown-menu right" role="menu">
                                <li><a href="{% url 'user_info' %}"><i class="st-user"></i> 个人信息</a>
                                </li>
                                <li><a href="{% url 'acclogout' %}"><i class="st-cloud"></i> 登出</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Start #header-area -->
            <div id="header-area" class="fadeInDown">
                <div class="header-area-inner">
                    <ul class="list-unstyled list-inline">
                        <li>
                            <div class="shortcut-button">
                                <a href="#">
                                    <i class="im-pie"></i>
                                    <span>Earning Stats</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="shortcut-button">
                                <a href="#">
                                    <i class="ec-images color-dark"></i>
                                    <span>Gallery</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="shortcut-button">
                                <a href="#">
                                    <i class="en-light-bulb color-orange"></i>
                                    <span>Fresh ideas</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="shortcut-button">
                                <a href="#">
                                    <i class="ec-link color-blue"></i>
                                    <span>Links</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="shortcut-button">
                                <a href="#">
                                    <i class="ec-support color-red"></i>
                                    <span>Support</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="shortcut-button">
                                <a href="#">
                                    <i class="st-lock color-teal"></i>
                                    <span>Lock area</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End #header-area -->
        </div>
        <!-- Start .header-inner -->
    </div>
    <!-- End #header -->
    <!-- Start #sidebar -->
    <div id="sidebar">
        <!-- Start .sidebar-inner -->
        <div class="sidebar-inner">
            <!-- Start #sideNav -->
            <ul id="sideNav" class="nav nav-pills nav-stacked">
                <li class="top-search">
                    <form>
                        <input type="text" name="search" placeholder="Search ...">
                        <button type="submit"><i class="ec-search s20"></i>
                        </button>
                    </form>
                </li>
                <li><a href="{% url 'index' %}">仪表盘<i class="im-screen"></i></a>
                </li>
                <li><a href="#">图形 <i class="st-chart"></i></a>
                </li>
                <li>
                    <a href="#"> 配置 <i class="im-cogs"></i></a>
                    <ul class="nav sub">
                        <li><a href="{% url 'host_group' %}"><i class="en-dropbox"></i> 主机组</a>
                        </li>
                        <li><a href="{% url 'host' %}"><i class="st-cube"></i> 主机</a>
                        </li>
                        <li><a href="{% url 'template' %}"><i class="im-wand"></i> 模板</a>
                        </li>
                        <li><a href="{% url 'application' %}"><i class="im-copy"></i> 应用集</a>
                        </li>
                        <li><a href="{% url 'item' %}"><i class="ec-list"></i> 监控项</a>
                        </li>
                        <li><a href="{% url 'trigger' %}"><i class="ec-chat"></i> 触发器</a>
                        </li>
                        <li><a href="{% url 'action' %}"><i class="im-quill"></i> 报警策略</a>
                        </li>
                        <li><a href="{% url 'action_operation' %}"><i class="im-history"></i> 报警动作</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#"> 管理 <i class="im-folder-open"></i></a>
                    <ul class="nav sub">
                        <li><a href="{% url 'user' %}"><i class="ec-users"></i> 用户</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- End #sideNav -->
        </div>
        <!-- End .sidebar-inner -->
    </div>
    <!-- End #sidebar -->
    <!-- Start #content -->
    <div id="content">
        <!-- Start .content-wrapper -->
        <div class="content-wrapper">
            <div class="row">
                <!-- Start .row -->
                <!-- Start .page-header -->
                <div class="col-lg-12 heading">
                    {% block page-header %}
                        <h1 class="page-header"><i class="im-screen"></i> 仪表盘</h1>
                    {% endblock %}
                    <!-- Start .bredcrumb -->
                    <ul class="breadcrumb">
                        {% block page-path %}
                            <li><a href="{% url 'index' %}">仪表盘</a></li>
                        {% endblock %}
                    </ul>
                    <!-- End .breadcrumb -->
                    <!-- Start .option-buttons -->
                    <div class="option-buttons">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group">
                                <a id="clear-localstorage" class="btn tip" title="Reset panels position">
                                    <i class="ec-refresh color-red s24"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End .option-buttons -->
                </div>
                <!-- End .page-header -->
            </div>
            <!-- End .row -->
            <div class="outlet">
                <!-- Start .outlet -->
                {% block page-content %}
                    <div class="panel-default">
                        <!--Panel heading-->
                        <div class="panel-heading">
                            <h3 class="panel-title">EasyMonitor状态</h3>
                        </div>
                        <!--Default panel contents-->
                        <div class="panel-body">
                            <!--Table-->
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>参数</th>
                                    <th>值</th>
                                    <th>细节</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>主机(主机数量/主机状态[在线/问题/其他])</td>
                                    <td>{{ host_info_dict.count }}</td>
                                    <td>
                                        <span style="color: green">{{ host_info_dict.online }}</span>
                                        /
                                        <span style="color: red">{{ host_info_dict.problem }}</span>
                                        /
                                        <span style="color: grey">{{ host_info_dict.other }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>触发器(数量/启动状态[启用/禁用])</td>
                                    <td>{{ trigger_info_dict.count }}</td>
                                    <td>
                                        <span style="color: green">{{ trigger_info_dict.enabled }}</span>
                                        /
                                        <span style="color: red">{{ trigger_info_dict.disabled }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>报警策略(数量/启动状态[启用/禁用])</td>
                                    <td>{{ action_info_dict.count }}</td>
                                    <td>
                                        <span style="color: green">{{ action_info_dict.enabled }}</span>
                                        /
                                        <span style="color: red">{{ action_info_dict.disabled }}</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="panel-default">
                        <!--Panel heading-->
                        <div class="panel-heading">
                            <h3 class="panel-title">系统状态</h3>
                        </div>
                        <!--Default panel contents-->
                        <div class="panel-body">
                            <!--Table-->
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>主机群组</th>
                                    <th>灾难</th>
                                    <th>严重</th>
                                    <th>一般严重</th>
                                    <th>警告</th>
                                    <th>信息</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for host_group_name, value in host_group_info_dict.items %}
                                    <tr>
                                        <td>{{ host_group_name }}</td>
                                        {% if value.disaster %}
                                            <td class="danger">{{ value.disaster }}</td>
                                        {% else %}
                                            <td class="success">{{ value.disaster }}</td>
                                        {% endif %}
                                        {% if value.high %}
                                            <td class="danger">{{ value.high }}</td>
                                        {% else %}
                                            <td class="success">{{ value.high }}</td>
                                        {% endif %}
                                        {% if value.general %}
                                            <td class="active">{{ value.general }}</td>
                                        {% else %}
                                            <td class="success">{{ value.general }}</td>
                                        {% endif %}
                                        {% if value.warning %}
                                            <td class="warning">{{ value.warning }}</td>
                                        {% else %}
                                            <td class="success">{{ value.warning }}</td>
                                        {% endif %}
                                        {% if value.information %}
                                            <td class="info">{{ value.information }}</td>
                                        {% else %}
                                            <td class="success">{{ value.information }}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="panel-default">
                        <!--Panel heading-->
                        <div class="panel-heading">
                            <h3 class="panel-title">主机状态</h3>
                        </div>
                        <!--Default panel contents-->
                        <div class="panel-body">
                            <!--Table-->
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>主机群组</th>
                                    <th>无问题</th>
                                    <th>有问题</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for host_group_name, value in host_group_info_dict.items %}
                                    <tr>
                                        <td>{{ host_group_name }}</td>
                                        <td class="success">{{ value.no_problem }}</td>
                                        <td class="success">{{ value.problem }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endblock %}
                <!-- Page End here -->
            </div>
            <!-- End .outlet -->
        </div>
        <!-- End .content-wrapper -->
        <div class="clearfix"></div>
    </div>
    <!-- End #content -->
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/plugin/highcharts/code/highcharts.js"></script>
    <script type="text/javascript" src="/static/plugin/highcharts/code/highcharts-3d.js"></script>
{% endblock %}