{% extends 'index.html' %}
{% load serialize %}
{% load serialize_item %}

{% block css %}
    <link href="/static/css/commons.css" rel="stylesheet">
{% endblock %}

{% block page-path %}
    <li><a href="{% url 'index' %}">仪表盘</a></li>
    <li><a href="{% url 'item' %}">监控项</a></li>
{% endblock %}

{% block page-content %}
    <div class="panel">
        <!--Panel heading-->
        <div class="panel-heading">
            <div class="panel-control">
                <a href="{% url 'add_item' %}" class="btn btn-dark">创建监控项</a>
            </div>
            <div class="panel-control">
                <select name="application" class="form-control" id="select-application"
                        style="float: right; height: 30px; margin-top: 10px;">
                    {% if application_id == 0 %}
                        <option value="0" selected="selected">所有</option>
                    {% else %}
                        <option value="0">所有</option>
                    {% endif %}
                    {% for application_obj in application_obj_list %}
                        {% if application_id == application_obj.id %}
                            <option value="{{ application_obj.id }}"
                                    selected="selected">{{ application_obj.name }}</option>
                        {% else %}
                            <option value="{{ application_obj.id }}">{{ application_obj.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <h3 class="panel-title">监控项</h3>
        </div>
        <!--Default panel contents-->
        <div class="panel-body">
            <!--Table-->
            <table class="table">
                <thead>
                <tr>
                    <th><label class="form-checkbox form-icon form-text"><input
                            type="checkbox"></label></th>
                    <th>监控项</th>
                    <th>键值</th>
                    <th>数据类型</th>
                    <th>数据单位</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for item_obj in item_obj_list %}
                    <tr>
                        <td>
                            <label class="form-checkbox form-icon form-text">
                                <input type="checkbox" name="item" value="{{ item_obj.id }}">
                            </label>
                        </td>
                        <td>{{ item_obj.name }}</td>
                        <td>{{ item_obj.key }}</td>
                        <td>{% display_data_type item_obj item_obj.data_type %}</td>
                        {% if item_obj.data_unit %}
                            <td>{{ item_obj.data_unit }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>{% serialize_url "item" item_obj %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="action_buttons">
                            <span id="selected_count" style="font-weight: bold">
                                <span>0</span> 选择
                            </span>
        <button id="delete_item" class="btn btn-danger btn-icon icon-1x fa fa-trash">删除</button>
    </div>

    <div>
        <div class="right">
            <ul class="pagination pagination-sm no-margin">
                {{ page_str }}
            </ul>
        </div>
    </div>

    <!--模态-->
    <div id="project-del-div" class="bootbox modal fade bootbox-confirm in" tabindex="-1" role="dialog"
         aria-hidden="false"
         style="display: none; padding-right: 17px;">
        <div class="modal-backdrop fade in" style="height: 100%;"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button id="close-modal-div" type="button" class="bootbox-close-button close" data-dismiss="modal"
                            aria-hidden="true"
                            style="margin-top: -10px;">×
                    </button>
                    <div class="bootbox-body">确定删除?</div>
                </div>
                <div class="modal-footer">
                    <button id="cancel-del" data-bb-handler="cancel" type="button" class="btn btn-default">取消</button>
                    <button id="confirm-del" data-bb-handler="confirm" type="button" class="btn btn-danger">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!--警告-->
    <div id="project-del-fall" class="alert alert-danger fade in"
         style="display: none; position: fixed; top:50px;right:0;left:800px">
        <button class="close" data-dismiss="alert"><span>×</span></button>
        <strong>删除失败!</strong>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/item.js"></script>
{% endblock %}