{% extends 'index.html' %}
{% load serialize %}

{% block css %}
    <link href="/static/css/commons.css" rel="stylesheet">
{% endblock %}

{% block page-header %}
    <h1 class="page-header"><i class="st-chart"></i> 图形</h1>
{% endblock %}

{% block page-path %}
    <li><a href="{% url 'index' %}">仪表盘</a></li>
    <span>-></span>
    <li><a href="{% url 'chart' %}">图形</a></li>
{% endblock %}

{% block page-content %}
    <div class="panel-default">
        <!--Panel heading-->
        <div class="panel-heading">
            <h3 class="panel-title">图形</h3>
            <div class="col-lg-2 col-md-2 pull-right">
                <select name="chart" class="form-control" id="select-chart"
                        style="float: right; height: 34px; margin-top: 5px;">
                    <option value="0">所有</option>
                </select>
            </div>
            <div class="col-lg-2 col-md-2 pull-right">
                <select name="template" class="form-control" id="select-template"
                        style="float: right; height: 34px; margin-top: 5px;">
                    <option value="0">所有</option>
                </select>
            </div>
            <div class="col-lg-2 col-md-2 pull-right">
                <select name="host" class="form-control" id="select-host"
                        style="float: right; height: 34px; margin-top: 5px;">
                    <option value="0">所有</option>
                    {% for host_obj in host_obj_list %}
                        <option value="{{ host_obj.id }}">{{ host_obj.ip }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-2 col-md-2 pull-right">
                <select name="group" class="form-control" id="select-host-group"
                        style="float: right; height: 34px; margin-top: 5px;">
                    {% if host_group_id == 0 %}
                        <option value="0" selected="selected">所有</option>
                    {% else %}
                        <option value="0">所有</option>
                    {% endif %}
                    {% for host_group_obj in host_group_obj_list %}
                        {% if host_group_id == host_group_obj.id %}
                            <option value="{{ host_group_obj.id }}"
                                    selected="selected">{{ host_group_obj.name }}</option>
                        {% else %}
                            <option value="{{ host_group_obj.id }}">{{ host_group_obj.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>


        </div>
        <!--Default panel contents-->
        <div class="panel-body">
            <td class="fc-header-right">
                <span class="fc-button fc-state-default fc-corner-left fc-state-active" unselectable="on">5分钟</span>
                <span class="fc-button fc-state-default" unselectable="on">30分钟</span>
                <span class="fc-button fc-state-default" unselectable="on">1小时</span>
                <span class="fc-button fc-state-default" unselectable="on">1天</span>
                <span class="fc-button fc-state-default" unselectable="on">1周</span>
                <span class="fc-button fc-state-default" unselectable="on">1个月</span>
                <span class="fc-button fc-state-default" unselectable="on">3个月</span>
                <span class="fc-button fc-state-default fc-corner-right" unselectable="on">1年</span>
            </td>
            <div id="show_chart" style="max-width:1200px;height:400px">

            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/plugin/highcharts/code/highcharts.js"></script>
    <script type="text/javascript" src="/static/plugin/highcharts/code/highcharts-3d.js"></script>
    <script type="text/javascript" src="/static/js/show_chart.js"></script>
    <script>
        var chart = Highcharts.chart('show_chart', {
            title: {
                text: '2010 ~ 2016 年太阳能行业就业人员发展情况'
            },
            subtitle: {
                text: '数据来源：thesolarfoundation.com'
            },
            yAxis: {
                title: {
                    text: '就业人数'
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },
            plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },
                    pointStart: 2010
                }
            },
            series: [{
                name: '安装，实施人员',
                data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
            }, {
                name: '工人',
                data: [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434]
            }, {
                name: '销售',
                data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
            }, {
                name: '项目开发',
                data: [null, null, 7988, 12169, 15112, 22452, 34400, 34227]
            }, {
                name: '其他',
                data: [12908, 5948, 8105, 11248, 8989, 11816, 18274, 18111]
            }],
            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }
        });
    </script>
{% endblock %}