{% extends 'index.html' %}
{% load serialize %}
{% load serialize_template %}

{% block css %}
    <link href="/static/css/commons.css" rel="stylesheet">
{% endblock %}

{% block page-path %}
    <li><a href="{% url 'index' %}">仪表盘</a></li>
    <li><a href="{% url 'template' %}">模板</a></li>
{% endblock %}

{% block page-content %}
    <div class="panel">
        <!--Panel heading-->
        <div class="panel-heading">
            <div class="panel-control">
                <a href="{% url 'add_template' %}" class="btn btn-dark">创建模板</a>
            </div>
            <div class="panel-control">
                <select name="group" class="form-control" id="select-host-group"
                        style="float: right; height: 30px; margin-top: 10px;">
                    {% if host_group_id == 0 %}
                        <option value="0" selected="selected">所有</option>
                    {% else %}
                        <option value="0">所有</option>
                    {% endif %}
                    {% for host_group_obj in host_group_obj_list %}
                        {% if host_group_id == host_group_obj.id %}
                            <option value="{{ host_group_obj.id }}"
                                    selected="selected">{{ host_group_obj.name }}</option>
                        {% else %}
                            <option value="{{ host_group_obj.id }}">{{ host_group_obj.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <h3 class="panel-title">模板</h3>
        </div>
        <!--Default panel contents-->
        <div class="panel-body">
            <!--Table-->
            <table class="table">
                <thead>
                <tr>
                    <th><label class="form-checkbox form-icon form-text"><input
                            type="checkbox"></label></th>
                    <th>模板</th>
                    <th>应用集</th>
                    <th>监控项</th>
                    <th>触发器</th>
                    <th>已链接到</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for template_obj in template_obj_list %}
                    <tr>
                        <td>
                            <label class="form-checkbox form-icon form-text">
                                <input type="checkbox" name="template" value="{{ template_obj.id }}">
                            </label>
                        </td>
                        <td>{{ template_obj.name }}</td>
                        <td><a href="{% url 'application' %}?templateid={{ template_obj.id }}"
                               style="text-decoration:underline; color: #0e90d2">应用集</a>{{ template_obj.applications.all.count }}
                        </td>
                        <td><a href="{% url 'item' %}"
                               style="text-decoration:underline; color: #0e90d2">监控项</a>{% item_count template_obj %}
                        </td>
                        <td><a href="#"
                               style="text-decoration:underline; color: #0e90d2">触发器</a>{{ template_obj.trigger_set.all.count }}
                        </td>
                        <td>
                            {% display_host template_obj %}
                        </td>
                        <td>{% serialize_url "template" template_obj %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="action_buttons">
                            <span id="selected_count" style="font-weight: bold">
                                <span>0</span> 选择
                            </span>
        <button id="delete_template" class="btn btn-danger btn-icon icon-1x fa fa-trash">删除</button>
    </div>

    <div>
        <div class="right">
            <ul class="pagination pagination-sm no-margin">
                {{ page_str }}
            </ul>
        </div>
    </div>

    <!--模态-->
    <div id="project-del-div" class="bootbox modal fade bootbox-confirm in" tabindex="-1" role="dialog"
         aria-hidden="false"
         style="display: none; padding-right: 17px;">
        <div class="modal-backdrop fade in" style="height: 100%;"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button id="close-modal-div" type="button" class="bootbox-close-button close" data-dismiss="modal"
                            aria-hidden="true"
                            style="margin-top: -10px;">×
                    </button>
                    <div class="bootbox-body">确定删除?</div>
                </div>
                <div class="modal-footer">
                    <button id="cancel-del" data-bb-handler="cancel" type="button" class="btn btn-default">取消</button>
                    <button id="confirm-del" data-bb-handler="confirm" type="button" class="btn btn-danger">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!--警告-->
    <div id="project-del-fall" class="alert alert-danger fade in"
         style="display: none; position: fixed; top:50px;right:0;left:800px">
        <button class="close" data-dismiss="alert"><span>×</span></button>
        <strong>删除失败!</strong>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/template.js"></script>
{% endblock %}